.activated {
    color: #4453FE !important;
    font-weight: bold;
}

.activated::before {
    content: "";
    display: block;
    width: 7px;
    margin-bottom: -13px;
    height: 7px;
    border-radius: 50%;
    background-color: #4453FE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}